@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Mobile bottom nav uchun joy */
@media (max-width: 768px) {
  main {
    padding-bottom: 70px;
  }
}